/*NAVIGASI*/
* {
    font-family: Poppins !important;
}

.nv{
    top: 0%;
    left: 0%;
    right: 0%;
    position:fixed;
    background-color: #3C8D9E;
    
}
.nv h1 a{
    padding-top: 1%;
    padding-left: 1%;
    text-decoration:none;
    color: rgb(255, 255, 255);
    float: left;
    
}
.nv ul{
    float: right;
    
}
.nv ul li{
    display: inline-block;
    margin: 20px;
    
}
.nv ul li a{
    display: inline-block;
    text-decoration:none;
    color: white;
}
.nv ul li a:hover{
    color:aqua;
}
.nv ul li a::after{
    color:rgb(0, 0, 0);
}



/*HEADER VISITOR*/
.bg-body{
    background-image: url(../img/sea.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-wlc, .wlc {
    width: 100%;
    display: flex;
}

.wlc h1{
    padding-top: 10%;
    /* padding-bottom: 4%;
    margin-top: 50px; */
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    /* font-stretch: normal; */
    /* border: 20px; */
    color: black;
    
}
/* main DASHBOARD */
.crop a{
    text-decoration: none;
    color: #000000;
}
.crop a:hover{
    text-decoration: underline;
}
.fish a{
    text-decoration: none;
    color: black;
}
.fish a:hover{
    text-decoration: underline;
}
.feed a{
    text-decoration: none;
    color: black;
}
.feed a:hover{
    text-decoration: underline;
}
.measure a{
    text-decoration: none;
    color: #000000;
}
.measure a:hover{
    text-decoration: underline;
}


.row {
    width: 100%;
}
