/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .box {
      width: 100%;
      
    }
    
    #bg-login {
        width: 100%;
    }
  }
  
  /* Untuk Smartphone */
/* @media all and (max-width: 670px) {
    .box {
        width: 100%;
        
      }
      
      #bg-login {
          width: 50%;
      }
    } */
    